.stepContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.stepImg {
  margin-top: 20px;
  width: 40%;
  max-width: 600px;
}

.steps {
  width: 50%;
}

.steps h2 {
  margin: 25px 0;
  padding: 0;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
}

.process {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 20px;
  max-width: 600px;
}

.stepIcon {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 0 0.5em;
  border: 1px solid #ddd;
  border-radius: 20px;
  background-color: #f5f5f5;
  color: #000;
}

.processStep h4 {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 10px 0;
}

.processStep p {
  font-size: 1rem;
  color: #6f6f6f;
}
