.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.heroText {
  margin: 20px 0 0 50px;
  width: 50%;
}

.heroText h1 {
  font-size: 64px;
  width: 90%;
  font-weight: bold;
}

.heroText p {
  font-size: 20px;
  font-weight: normal;
  width: 70%;
}

.searchBox {
  width: 80%;
  height: 150px;
  background-color: #e7e7e7;
  border-radius: 20px;
}

.heroImage {
  border-radius: 10px;
  margin: 100px 0;
  position: relative;
  height: 100%;
}

.heroImage .imgBackground {
  width: 80%;
  height: 520px;
  border-radius: 20px 20px 0px 0px;
  position: absolute;
  top: -75px;
  left: 60px;
  background: linear-gradient(180deg, #f09819, #ff522f00);
}

.heroImage img {
  width: 580px;
  transform: scaleX(-1);
}
