.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.heroText {
  margin: 20px 0 0 50px;
  width: 50%;
}

.heroText h1 {
  font-size: 4rem;
  width: 90%;
  font-weight: bold;
  line-height: 1.2;
}

.heroText p {
  font-size: 1.25rem;
  font-weight: normal;
  width: 70%;
  line-height: 1.5;
  color: #666;
}

.heroImage {
  position: relative;
  border-radius: 10px;
  margin: 100px 0;
  height: 100%;
}

.heroImage .imgBackground {
  position: absolute;
  top: -75px;
  left: 60px;
  width: 80%;
  height: 520px;
  border-radius: 20px 20px 0 0;
  background: linear-gradient(180deg, #f09819, rgba(255, 82, 47, 0));
}

.heroImage img {
  width: 580px;
  transform: scaleX(-1);
  display: block;
  border-radius: 10px;
}
