.card {
  max-width: 500px;
  border: 1px solid #ddd;
  border-radius: 15px;
  background-color: #c5c5c50c;
  padding: 20px 15px;
  box-shadow: 0 4px 8px #0000001a;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.vehicleName {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
}

.brand {
  font-size: 0.875rem;
  margin-bottom: 4px;
  color: #666;
}

.vehicleImg {
  width: 100%;
  height: 200px;
  border-radius: inherit;
  margin-bottom: 15px;
  object-fit: cover;
}

.pricingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  margin: 0;
  font-size: 1.25rem;
  font-weight: bold;
}

.price > span {
  font-size: 0.875rem;
  font-weight: normal;
  color: #666;
}

.pricingContainer > button {
  padding: 0.5em 1em;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  background-color: #ff6f00;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.pricingContainer > button:hover {
  background-color: #cc5800;
  transform: scale(1.05);
}

.pricingContainer > button:active {
  transform: scale(1);
}
