@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #feffff;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

section {
  margin: 0 50px 50px;
  padding: 0;
}

hr {
  border: none;
  border-bottom: 10px dotted rgb(255, 187, 0);
  width: 100px;
  margin: 50px auto;
}
